{% extends 'base.html' %}

{% block content %}

<h1>📌 Postlar</h1>

<div class="row">

    {% for post in posts %}
    <div class="col-md-6 mb-3">
        <div class="card h-100 shadow-sm border-0">

            {% if post.image %}
                <img src="{{ post.image.url }}" 
                     class="card-img-top" 
                     style="height: 200px; object-fit: cover;">
                     <br>
                     <br>
            {% elif post.video %}
                <video controls class="card-img-top" style="height: 200px; object-fit: cover;">
                    <source src="{{ post.video.url }}" type="video/mp4">
                    Sizning brauzeringiz video tegini qo'llab-quvvatlamaydi.
                </video>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text text-muted small">
                    {{ post.body|truncatewords:20 }}
                </p>
            </div>

            <div class="card-footer bg-white border-0 text-muted small">
                Yozildi: {{ post.created_at|date:"d.m.Y" }}
            </div>

            <div class="p-2">
                <a class="btn btn-secondary w-100" 
                   href="{% url 'post_detail' post.pk %}">
                   Ko‘rish
                </a>
            </div>

        </div>
    </div>
    {% empty %}
        <div class="col-12 text-center py-5">
            <p class="text-muted">Hozircha postlar yo‘q 😢</p>
        </div>
    {% endfor %}

</div>

{% endblock %}