# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Media files (MUHIM!)
media/

# Static (agar collectstatic ishlatsang)
staticfiles/

# Environment
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db